/* .row {
  width: 40%;
  /* height: 80vh; */
/* padding: 0px;/ */
/* margin: 2%; */
/* } */
/* input.row {
  width: 8%;
} */
.calcContainer {
  /* margin-left: 100%; */
  /* position: relative; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-left: 50%; */
  /* background-color: black; */
  color: white;
}
input {
  /* width: 8%; */
}
/* input.rowOfOutput {
  width: 8%;
} */
body {
  margin: 0%;
  padding: 0px;
  background: #adb5bd;
}

td {
  /* // // border: 1px solid white; */

  width: 1px;
}
input[type="text"] {
  width: 60%;
}
tr {
  /* // // border: 1px solid white; */
  width: 40%px;
}
.topRow {
  width: 200px;
}

table.calcContainer {
  margin-top: 50px;
  /* margin-bottom:auto; */
  margin-left: auto;
  margin-right: auto;
  color: white;

  height: 70vh;
  font-size: xx-large;
  width: 100vh;
  background: black;
  /* // // border: 1px solid white; */
  text-align: center;
}

input {
  background: black;
  color: white;

  /* margin-left: 30%; */
  height: 60%;
  width: 40%;
  /* margin-right:auto; */
  font-size: xx-large;
  border: 0px;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  /* padding-right: 25px; */
}
input[type="button"] {
  border-radius: 50%;
  background-color: #333333;
  height: 90%;
  width: 65%;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
input[type="button"]:hover {
  content: "\00bb";
  cursor: pointer;
}
input[type="text"] {
  background: black;
  color: white;
  height: 80%;
  width: 60%;
  /* margin-left: 20%; */
  font-size: xx-large;
  /* margin-right:auto; */
  text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
